<h3>List of all Book Copies</h3>
<ul>
  <li *ngFor="let bookcopy of observableBookCopies | async" >
    Book: {{bookcopy.book.title}}, Branch: {{bookcopy.branch.branchName}}, noOfCopies: {{bookcopy.noOfCopies}}
  </li>
</ul>


<!-- <h3>Book Copies Details with Observable</h3>
<ul>
  <li *ngFor="let bookcopy of observableBookCopies | async" >
    Book: {{bookcopy.book.title}}, Branch: {{bookcopy.branch.branchName}}, noOfCopies: {{bookcopy.noOfCopies}}
  </li>
</ul>

<h3>Book Copies Details after "subscribe" to Observable </h3>
<ul>
  <li *ngFor="let bookcopy of bookcopies" >
    Id: {{bookcopy.book.title}}, Title: {{bookcopy.branch.branchName}}, noOfCopies: {{bookcopy.noOfCopies}}
  </li>
</ul>

<div *ngIf="errorMessage"> {{errorMessage}} </div>  -->